.font-14 {
  font-size: 0.875rem;
  font-style: italic;
}

.font-18 {
  font-size: 1.125rem /* 18px */;
}

.font-20 {
  font-size: 1.2em /* 20px */;
  line-height: 1.6;
  letter-spacing: -0.005em;
}

.font-24 {
  font-size: 1.5em /* 24px */;
  font-style: italic;
}

.font-48 {
  font-size: 3rem /* 48px */;
  line-height: 1;
}

.font-60 {
  font-size: 3.75rem /* 60 px */;
  line-height: 1;
  font-weight: 700;
}
