.estrutura {
  display: grid;
  gap: 10px;
  grid-template:
    "header     header      header"
    "sidenav    conteudo    anuncios"
    "footer     footer      footer"
    / minmax(160px, 1fr) 3fr 300px;
}

@media (max-width: 1200px) {
  .estrutura {
    display: grid;
    gap: 10px;
    grid-template:
      "header     header"
      "sidenav    conteudo"
      "sidenav    anuncios"
      "footer     footer"
      / minmax(160px, 1fr) 3fr;
  }
}

@media (max-width: 800px) {
  .estrutura {
    display: grid;
    gap: 10px;
    grid-template:
      "header"
      "sidenav"
      "conteudo"
      "anuncios"
      "footer"
      / 1fr;
  }
}
