.sidenav {
  grid-area: sidenav;
}

.sidenav img {
  min-width: 60px;
  max-width: 100px;
  margin: 0 auto 30px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  transition: 0.1s ease-out;
}

@media (max-width: 800px) {
  .sidenav ul {
    display: flex;
  }
}
